form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.modal-dialog {
  width: 80%;
}

.modal-header {
  justify-content: center;
  margin-bottom: 20px;
  color: #343a40;
}

.modal-body textarea {
  text-align: center;
  padding: 12px;
  height: 50px;
}

.modal-footer {
  display: flex;
  margin: 20px 10% 0 10%;
  justify-content: space-between;
}